In [30]:
# !conda install -c conda-forge -y pandas-profiling

In [32]:
import pandas as pd

In [33]:
df = pd.read_json("training_data.json")

In [34]:
with open("training_data.json", "r") as f:
    fileinfo = json.load(f)

In [35]:
df = pd.DataFrame(fileinfo["rasa_nlu_data"]["common_examples"])

In [44]:
df

,text,intent,entities
0,brijeshlakkad@gmail.com,Banking_Email,NaN
1,brijeshlakkad@gmail.com,Banking_Email,NaN
2,brijeshlakkad@gmail.com,Banking_Email,NaN
3,123456,Banking_Password,NaN
4,12345,Banking_Password,NaN
...,...,...,...
30108,provide status of card application,Banking_Get_Card_Request_Status,[]
30109,assist me to get status my of card application,Banking_Get_Card_Request_Status,[]
30110,help me to get status my of card application,Banking_Get_Card_Request_Status,[]
30111,assist me to get status of card application,Banking_Get_Card_Request_Status,[]
30112,help me to get status of card application,Banking_Get_Card_Request_Status,[]

In [40]:
df.text.value_counts()

brijeshlakkad@gmail.com                                                                          3
ok                                                                                               3
I have lost my credit card and I want to deactivate it                                           2
update addr                                                                                      2
can you please update present address                                                            2
                                                                                                ..
I want someone to help me search recent activity and summary for every activity of my account    1
Where to show 4 my a/c activity history for accounts?                                            1
Where to search activity history for a/c?                                                        1
please can you help me to get my master card charges                                             1
Bye bye                                                                                          1
Name: text, Length: 29875, dtype: int64

In [45]:
len(df.intent.value_counts())

44

In [43]:
df.entities.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                                                                                  21388
[{'end': 15, 'entity': 'num_trans', 'start': 14, 'value': '3'}]                        63
[{'end': 1, 'entity': 'num_trans', 'start': 0, 'value': '3'}]                          49
[{'end': 16, 'entity': 'num_trans', 'start': 14, 'value': '12'}]                       48
[{'end': 15, 'entity': 'num_trans', 'start': 14, 'value': '1'}]                        44
                                                                                    ...
[{'end': 51, 'entity': 'to_change', 'start': 37, 'value': 'account number'}]            1
[{'end': 48, 'entity': 'num_trans', 'start': 47, 'value': '7'}]                         1
[{'end': 58, 'entity': 'to_change', 'start': 40, 'value': 'registered mail id'}]        1
[{'end': 53, 'entity': 'to_change', 'start': 40, 'value': 'email address'}]             1
[{'end': 22, 'entity': 'to_change', 'start': 8, 'value': 'permenant addr'}]             1
Name: entities, Length: 1950, dtype: int64